.center {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  border: 4px solid black;
  border-radius: 50px;
  height: 60vh;
  width: 50%;
  background-color: grey;
}

#colorPicker {
  border: 8px solid black;
  height: 8vh;
  width: 30%;
  /* margin-left: 27vh; */
  margin-top: 14vh;
  margin-bottom: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 70vh;
  width: 50%;
  padding: 60px 0px;
  margin-top: 50px;
}
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
