body{
    margin: 150px;
    padding: 0;
}
#time{
    margin:40px;
}

.digit{
    margin: 50px 11px;
    border: 2px solid rgb(184, 178, 178);
    border-radius: 10px;
    height: 100px;
    width: 100px;
    padding: 17px 22px;
    box-shadow: 3px 3px 3px 3px gray;
}
#btns{
    margin: 20px 100px;
}
.btn{
    border: 2px solid rgb(179, 175, 175);
    border-radius: 107px;
    width: 183px;
    height: 58px;
    padding: 10px 30px;
    margin: 10px 20px;
    cursor: pointer;
    box-shadow: 3px 3px 3px 3px gray;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;

}
.container {
   
    border: 2px solid gray;
    border-radius: 40px;
    
    background-color: rgba(223, 226, 226, 0.665);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    box-shadow: 10px 10px 10px 10px rgb(201, 197, 197);
   
   
}
.box{
    display: flex;
    justify-content: center;
}

#start{
    background-color: rgb(0, 183, 255) ;
    color: white;
}
#start:hover{
    background-color: black;
}
#stop{
    background-color: rgb(221, 149, 15) ;
    color: white;
}
#stop:hover {
    background-color: black;
}
#reset{
    background-color: rgb(20, 165, 20);
    color: white;
}
#reset:hover {
    background-color: black;
}