*{
    margin: 0;
    padding: 0;
}
:root{
    --bodyColor : rgb(7, 104, 81);
    --borderCOlor : rgb(10, 249, 10);
    --textColor : rgb(255, 255, 255);
    --headingColor : black;
}
body{
    background-color: var(--bodyColor);
}
.bar{
    
}
.bar h1{
    margin: 15px 0px;
    text-align: center;
    text-transform: capitalize ;
}
.common{
    color: var(--headingColor);
    background-color: var(--textColor);
}
caption, td, th{
    border: 1px solid var(--borderCOlor);
    padding: 15px;
}
table{
    /* border-collapse: collapse; */
    margin: auto;
    text-transform: uppercase;
    color: var(--textColor);
}
caption{
    padding: 15px 0px;
    text-transform: capitalize;
}
.footer{
    margin-top: 30px;
    text-align: center;

}
.footer a{
    color: var(--textColor);
    text-transform: uppercase;
    margin: 5px;
}