
hr{
    height:2px;
    background-color: black;
    width: 50%;
    margin-left: 0;
    margin-bottom: 0;
}
img{
    width:15%;
    margin-top: 2px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.gr{
    color:grey;
}